* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Calculator */

.calculator-wrapper {
  display: flex;
  flex-flow: column;
  max-width: 400px;
  border: 0.5px solid black;
}

.screen-calc {
  text-align: right;
  padding: 10px 0;
  background-color: rgb(101, 101, 101);
  color: white;
  font-size: 1.15rem;
}

.keyrow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.double {
  grid-column: 1 / span 2;
}

.keybtn {
  text-align: center;
  vertical-align: middle;
  padding: 7px 10px;
  border: 0.5px solid burlywood;
}

.keyrow:nth-child(2) .keybtn {
  border-top: none;
}

.keyrow .keybtn:first-child {
  border-left: none;
}

.keyrow .keybtn:last-child {
  border-right: none;
}

.keyrow:last-child .keybtn {
  border-bottom: none;
}

.number {
  background-color: lightgray;
}

.operation {
  background-color: orange;
}

/* Calculator */

.quotes-wrapper {
  max-width: 400px;
}
